{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="heart">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5"> <!-- this is were we write the body -->
                <div class="center btmspace-80">
                    <h6 class="heading underline font-x2" style=" font-weight: 600; color: #0062cc;">Mentions
                        légales</h6>
                </div>

                <p style="font-size: large"> Wassalni est une marque déposée à l'Institut National de la Normalisation
                    et de la Propriété Industrielle. </br>
                    Le site, Wassalni ainsi que son contenu sont protégés par les lois tunisiennes en matière de
                    protection des Droits d’auteur. Les éléments contenus dans le site à savoir, les images, le texte
                    ainsi que la charte graphique sont la propriété du site. </br>
                    En vertu des règles relatives à la propriété intellectuelle, toute reproduction des éléments cités
                    ci-dessus est interdite sans l'autorisation préalable et écrite de et/ou du titulaire des droits.
                    Toute utilisation non autorisée de ce contenu constitue un délit de contrefaçon et peut donner lieu
                    à des poursuites judiciaires civiles et/ou pénales et au paiement de dommages et intérêts.
                    </br></br>
                    Sur Wassalni, les conducteurs sont des particuliers qui se rendent à une destination pour leur
                    propre compte. C’est un trajet qu’ils auraient de toute manière effectué, avec ou sans covoiturage.
                    Ce n’est donc pas un service « à la demande » d’un client. </br></br>

                    Les conducteurs partagent les frais d’un trajet avec leurs passagers. Le prix du covoiturage ne
                    correspond donc pas à une rémunération pour le conducteur et son trajet n’est pas assimilable à une
                    activité commerciale et lucrative. Aucun bénéfice n’est réalisé. </br></br>

                    <B>Contenu:</B> L'équipe de Wassalni s’efforcera toujours à faire parvenir en temps réel une
                    information fiable et de qualité, si néanmoins une information est erronée, n'hésitez pas à
                    contacter notre webmaster sur notre mail de contact. </br></br>

                    <B>Responsabilité:</B> Les visiteurs de ce site web déclarent qu’ils acceptent d’accéder et
                    d’utiliser ce site web et son contenu sous leur propre responsabilité. Wassalni ne peut être tenue
                    pour responsable de perte ou de dommage direct ou indirect. </br></br>

                    <B>Compétence juridictionnelle:</B> Les présentes Conditions Générales sont soumises au droit
                    tunisien. En cas de litige, la compétence expresse est attribuée aux tribunaux de Tunis.</p></br>


            </div>
        </div>
    </div>


{% endblock %}
