{% extends 'base.html.twig' %}

{% block body %}
	<div class="container" id="heart">
		<div class="card border-0 shadow my-5">
			<div class="card-body p-5"> <!-- this is were we write the body -->
				<div class="center btmspace-80">
					<h6 class="heading underline font-x2" style=" font-weight: 600; color: #0062cc;">Nos conseils</h6>
				</div>

				<p style="font-size: large"> Pour maintenir une expérience favorable à tous, nous vous présentons
					quelques conseils: </p> <br>

				<p style="font-size: large">
				<ul>
					<li>Ne donnez pas vos informations de votre compte (mail et mot de passe) à n'importe qui.</li>
					<li>Donnez vos avis au site aprés un voyage pour qu'on améliore nos services.</li>
					<li>Respectez les conducteurs et soyez à l'heure de rencontre pour le voyage.</li>
					<li>Donnez des prix raisonnables selon la longueur de votre trajet pour attirer plus de passagers
					</li>
					<li>Contrôlez l'état de votre véhicule avant le voyage.</li>
					<li>Ne pas s'engager auprès de différents conducteurs pour un même temps.</li>
				</ul>
				</p></br>

				<p> Toutes ces règles peuvent sembler évidentes mais il est toujours bon de les rappeler.</p></br>

			</div>
		</div>
	</div>


{% endblock %}
