{% extends 'base.html.twig' %}

{% block body %}
	<div class="container" id="heart">
		<div class="card border-0 shadow my-5">
			<div class="card-body p-5"> <!-- this is were we write the body -->
				<div class="center btmspace-80">
					<h6 class="heading underline font-x2" style=" font-weight: 600; color: #0062cc;">Qui sommes
						nous?</h6>
				</div>
				<br>
				<p style="font-size: large"> Nous sommes un groupe d'étudiants motivés par la programmation.
					Etant de différents villes de la Tunisie, on a tous utilisé le service collaborative du covoiturage
					pour se déplacer
					pour les longues distances au lieu des autres moyens de transport publique. Trouver ce qu'on voulait
					n'était pas pratique donc nous avons eu l'idée
					de "Wassalni"</p></br>

				<p style="font-size: large"> Notre objectif est de renouvler le service du covoiturage en créant un site
					web dédié au covoiturage qui numérisera et facilitera ses services.</p></br>
			</div>
		</div>
	</div>


{% endblock %}
