<h1 style="text-align: center;color: blue;text-decoration:underline">Activation de votre compte</h1>
<h3>vous avez cree un compte sur notre site Wassalni, veuillez cliquer sur le lien ci-dessous pour l'activer!</h3>
<p><a href="{{ absolute_url(path('activation',{'token':token})) }}">Activez mon Compte!!</a></p>