{% extends 'base.html.twig' %}
{% block body %}

    <div class="container" id="heart">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5"> <!-- this is were we write the body -->
                <h1 style="text-align: center">Activez votre compte pour commencer.<br>veuillez consulter votre boite
                    mail!</h1>
            </div>
        </div>
    </div>

{% endblock %}